{erl_opts, [debug_info]}.
{deps, []}.
{shell, [
    {apps, [paxoid]},
    {config, "test/sys.config"}
]}.
{edoc_opts, [
    {application, ["paxoid"]},
    {doclet, edown_doclet},
    {subpackages, false},
    {top_level_readme, {"./README.md", "http://github.com/erisata/paxoid"}}
]}.
{profiles, [
    {docs, [
        {deps, [
            {edown, ".*", {git, "https://github.com/uwiger/edown.git", {tag, "0.8.1"}}}
        ]}
    ]}
]}.
